<h1>Explore the family trees using the power of Wikidata and Wikipedia</h1>
<p>Just in time Wikimania 2014, I've made this tool to visualise and explore what we know about famous figures on Wikidata.</p>
<p>It's based on a similar tool by Magnus Manske - see the credits for more details.</p>
<p>Click on the circles to view the Wikipedia or Wikidata information for each person.</p>

<h2>FAQs</h2>
<h3>Where is the data from?</h3>
<p>This data is all from the Wikidata project, which is a sister project of the more famous Wikipedia. Wikidata aims to create a linked database of
information so that we can use it for cool stuff like this!</p> 

<h3>Why is the layout so weird? This doesn't look like a family tree!</h3>
<p>There are different ways of looking at this information - here we're using something called a 'force directed graph' which spaces out the entries
almost as if they were atoms in a molecule. It's one way to quickly see who the most important people are.</p> 

<h3>Some of the data is wrong, or doesn't match what's on Wikipedia</h3>
<p>Given that Wikidata is a separate data source, there may be some inconsistencies. The beauty of a wiki is that you have the power to fix it! Head over to <a href="https://www.wikidata.org/" target="_blank">Wikidata</a> to get started.</p>

<h3>Wikipedia and Wikidata - what's the difference?</h3>
<p>Wikipedia and Wikidata are both run by the Wikimedia foundation. When people realised that there was so much good information stored in Wikipedia,
attempts were made to to turn it into "data" so that it could be processed by computer programs and reused in new and interesting ways. Wikidata marks 
the start of this process in getting all the great information on Wikipedia into a format that is easier to query and reuse.
In time, it's hoped that Wikidata will store more of the "data" and Wikipedia will store more of the "free text".</p>

<h3>Why are some pages in foreign languages?</h3>
<p>Entries for some noteworthy people don't have a page on the English language Wikipedia yet. Did you know that there are loads of <strong>different</strong>
Wikipedias for all the languages of the world? When we have a link to another language I'm using their page as a fallback option.</p>

<h3>Why do some of the pages show 'Reasonator' instead of Wikipedia?</h3>
<p>When we have an entry in Wikidata that doesn't link to a corresponding Wikipedia page, we're using Reasonator instead. It's an early prototype of a view into
what's held in Wikidata with lots of interesting aspects. It will probably be replaced by something more permanent in future but it's a bit nicer than the default Wikidata view at the moment!</p>
