<h1>Credits</h1>

<p>Based heavily on the Geneawiki project by Magnus Manske</p>

<p>The graph rendering engine is Sigma.js</p>

<p>Thanks also to Adam Shore for the valuable tips and insight into how to use Wikidata.</p>
